
public class Rules {
	public static void terminationCheck() {
		
	for (int y = 0; i<100; i++)	{
		for(int x = 0; x<100; x++){
			if (matrix[x][y]) {
				if (integerArray[x][y] <= 3){
					matrix[x][y]=false;
					}
				}
			}
		}
	}
}
